

/* Verwijder popup */

.modal {

    display: none;

    position: fixed;

    inset: 0;

    background-color: rgba(0,0,0,0.35);

    justify-content: center;

    align-items: center;

    z-index: 1000;

}


.modalContent {

    background-color: white;

    width: 85%;

    max-width: 350px;

    padding: 25px;

    border-radius: 18px;

    text-align: center;

    box-shadow: 0 8px 30px rgba(0,0,0,0.2);

}


.modalContent h3 {

    margin-top: 0;

    color: #3f5f6b;

    font-size: 22px;

}


.modalContent p {

    color: #666;

    margin-bottom: 25px;

}


.modalButtons {

    display: flex;

    gap: 12px;

    justify-content: center;

}


.modalButtons button {

    flex: 1;

    padding: 12px;

    border-radius: 12px;

    font-size: 15px;

}


#cancelDelete {

    background-color: #eeeeee;

    color: #555;

}


#confirmDelete {

    background-color: #b84a4a;

    color: white;

}